{:deps     true
 :nrepl    {:port 9000}
 :dev-http {8000 "public"}

 :builds   {:browser       {:target     :browser
                            :output-to  "out/app.js"
                            :asset-path "/js"
                            :devtools   {:preloads   [devtools.preload]
                                         :after-load todomvc.core/main}
                            :modules    {:main {:entries [todomvc.core]
                                                :init-fn todomvc.core/main}}}

            :browser-test  {:target          :browser
                            :output-dir      "public/js"
                            :asset-path      "/js"
                            :closure-defines {rehook.test.browser/HTML "<!DOCTYPE html><html><head><link rel=\"stylesheet\" href=\"styles/todo.css\"></head><body><div></div></body></html>"}
                            :devtools        {:preloads [devtools.preload]}
                            :modules         {:main {:entries [rehook.test.browser
                                                               todo-test]
                                                     :init-fn rehook.test.browser/report}}
                            :release         {:compiler-options {:optimizations :simple}}}

            :headless-test {:target    :node-test
                            :output-to "out/test.js"}}}
